.hero {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.hero_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 20px;
  }

  span {
    font-size: 3rem;
    font-weight: 300;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
  p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--text-color);
    padding: 30px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 20px;
    letter-spacing: 5px;

    background: linear-gradient(
      to right,
      var(--accent-color),
      red,
      var(--accent-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block; /* This ensures the gradient only covers the text */
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .button1 {
      background-color: var(--accent-color);
      color: var(--text-color);
      font-weight: 400;
    }

    button {
      margin: 0 10px;
      padding: 10px 20px;
      border: 2px solid var(--accent-color);
      border-radius: 5px;
      background-color: transparent;
      color: var(--accent-color);
      font-size: 1rem;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--accent-color);
        color: var(--text-color);
      }

      &:active {
        transform: scale(0.95);
      }

      a:hover{
        text-decoration: none;
        color: var(--accent-color);
        border: none;
      }
    }
  }
}

/* HERO RIGHT */

.hero_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.hero_right img {
  width: 400px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
  border: 10px solid var(--accent-color);
}

/* ***************************************** */
/* ***************************************** */
/* ***************************************** */
/* ***************************************** */

@media (width < 800px) {
  .hero {
    flex-direction: column;
    min-height: 100vh;
    
   
    
   
  }

  .hero_left {
    flex-basis: 100%;
    margin-bottom: 5px;

    h1 {
      font-size: 2rem;
      text-align: center;
    }

    h2{
      font-size: 1.5rem;
      text-align: center;
      margin: 0px;
    }
    span{
      font-size: 2rem;
      margin-bottom: 0px;
    }

    p {
      width: 80%;
      word-wrap: break-word;
      word-break: break-all;
      
      margin: 0px;
      padding-bottom: 0px;
    }

    .buttons {
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 0px;

      button {
        margin: 10px 0px;
        font-size: 0.8rem;
      }
    }
  }

  .hero_right {
    flex-basis: 100%;
  }

  .hero_right img {
    width: 300px;
    height: auto;
  }
}
