.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 100%;
  height: fit-content;
 ;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.card p {
  font-size: 1rem;
  font-weight: 400;

  text-align: center;

  height: 85px;
}
.card-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

svg {
  background-color: var(--accent-color);
  fill: var(--background-color);
}
.card a {
  text-decoration: none;
  color: black;

  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view_project {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 80%;
  padding: 15px 0px 15px 0px;
  background-color: var(--accent-color);
  border-radius: 10px;

  margin-bottom: 10px;
  cursor: pointer;

  span {
    font-weight: 700;
    color: var(--background-color);
    background-color: var(--accent-color);
  }
}



/* ************************************************* */
/* ************************************************* */
/* ************************************************* */
/* ************************************************* */



@media (width < 700px){
  .card{
    border: 1px solid var(--accent-color);
  }
}